/* RECRUTIMENT */
.job .job_content {padding: 15px 0 !important;border: 1px solid #F3F6F9 !important;}
.job .job_content:hover {border: #F3F6F9 solid 3px !important;box-shadow: unset !important;}
.job .job_content_related {border: 1px solid #F3F6F9 !important;}
h2.card-title.bold.campaign-title {font-size: 16px !important;color: #1BC5BD !important;}
.card ul {padding-left: 30px !important;}
.company-title {color: unset !important;}
.part_time-color {background: #1BC5BD !important;}
.feature-view_detail {color: #1BC5BD !important;border: 2px solid #1BC5BD !important;font-weight: 500 !important;font-size: unset !important;}
.distance-time.highlight {color: #0BB783 !important;font-weight: 500 !important;}
#panel_body_job {background: #FFF !important;}
.recruitment_showmore {padding: 10px 0 !important;width: 120px !important;font-weight: 500!important;}
.full_time-color {background: #0BB783 !important;}
h2.title {font-size: 16px !important;}
a.btn.btn-warning.pull-right.mright5 {background: #FFA800 !important;color: #FFF !important;}
.general-infor-color, .other_infor-style {color: unset !important;font-size: 15px !important;clear: left !important;}
.general-infor-hr, .other_infor-hr {border: 1px solid !important;color: #F3F6F9 !important;}
.picture {background-color: #F3F6F9;border: 3px solid #F3F6F9 !important;border-radius: 0 !important;}
.margin-top-0 {margin-top: 0px !important;}
.padding-left-right-0 {padding-right: 5px !important;padding-left: 5px !important;}
.width-height-160 {width: 140px !important;height: 140px !important;}
.margintop15-color {color: #1BC5BD !important;}
.campaign-finish-style {color: #0BB783 !important;border: 1px solid #0BB783 !important;}
.campaign-progress-style {color: #1BC5BD !important;border: 1px solid #1BC5BD !important;}
.campaign-cancel-style {color: #D2D5DC !important;border: 1px solid #D2D5DC !important;}
.campaign-planning-style {color: #FFA800 !important;border: 1px solid #FFA800 !important;}
.ribbon span {font-size: 10px !important;text-transform: none !important;}
.ribbon.danger span {background: #D2D5DC;}
.ribbon.danger span::before {border-left: 3px solid #D2D5DC !important;border-top: 3px solid #D2D5DC !important;}
.ribbon.danger span::after {border-right: 3px solid #D2D5DC !important;border-top: 3px solid #D2D5DC !important;}
.ribbon.success span {background: #0BB783 !important;}
.ribbon.success span::before {border-left: 3px solid #0BB783 !important;border-top: 3px solid #0BB783 !important;}
.ribbon.success span::after {border-right: 3px solid #0BB783 !important;border-top: 3px solid #0BB783 !important;}
.ribbon.warnings span {background: #FFA800 !important;}
.ribbon.warnings span::before {border-left: 3px solid #FFA800 !important;border-top: 3px solid #FFA800 !important;}
.ribbon.warnings span::after {border-right: 3px solid #FFA800 !important;border-top: 3px solid #FFA800 !important;}
.panel-primary>.panel-heading, .panel-info>.panel-heading, .panel-success>.panel-heading, .panel-default>.panel-heading, .panel-warning>.panel-heading {color: #0BB783!important;font-weight: 500 !important;background-color: #F3F6F9 !important;border-color: #F3F6F9 !important;}
.panel-primary, .panel-info, .panel-success, .panel-default, .panel-warning {border-color: #F3F6F9 !important;border-radius: 0 !important;}
.isp-general-infor {color: unset !important;font-weight: 500;}
.thumbnail {box-shadow: unset !important;border-radius: 0 !important;border: 2px solid #F3F6F9 !important;}
.thumbnail:hover {box-shadow: unset !important;}
.interview-style {color: #1BC5BD !important;border: 1px solid #1BC5BD !important;}
/* END RECRUTIMENT */