/* OKRs */
div#pop-up {border: 1px solid #F3F6F9 !important;font-size: unset !important;}
.box {width: 88px !important;height: 33px !important;}
.treegrid-container {margin-right: 0 !important;}
.effect8 {border-radius: 0 !important;box-shadow: unset !important;border: #ECF1F6 2px solid !important;}
table#data {border: #F3F6F9 1px solid !important;}
.checkin_button,.checkin_button1,.checkin_button2 {width: 90px!important;background-color: #0BB783!important;border-radius: 0 !important;font-weight: 500 !important;font-size: unset!important;font-family: unset!important;background-image:none!important;text-transform: none!important;}
.main-table tbody > tr > th {background:#F3F6F9!important;font-weight: 500;color: #0BB783!important;}
.head_view {font-size: unset!important;}
.main-tasks-table-href-name {font-size: unset!important;}
.name_objective h4 {font-size: 16px!important;font-weight: 500;}
.result-detailt > div {background-color: #1BC5BD!important;}
.task-hanld {padding-top: 30px;}
.table-scroll th, .table-scroll td {border: 1px solid #F3F6F9!important;}
.table-scroll {border: 1px solid #F3F6F9!important;}
.checkin h4 {font-size: 14px;font-weight: 500;}
.changed_1 span {color: #1BC5BD!important;}
.changed_2 span {color: #0BB783!important;}
.default .default_ct {color: #FFA800!important;}
.treegrid-expander::after {color: #0BB783!important;border: 1px solid #0BB783!important;}
.plan-detailt > div, .result-detailt > div {margin: 0!important;padding: 6px 12px!important;}
.title-card {color:#0BB783!important;font-size: 18px;font-weight: 500;}
.title-card_user {color: #1BC5BD!important;font-size: 18px;font-weight: 500;}
.card__sale-flag, .card__cta {font-family: 'Roboto';font-weight: 500!important;text-transform: none!important;}
.card_ .progress-bar {color: #fff !important;}
.card_ .progress-bar-danger {background-color: #FFA800 !important;}
.card_ .progress-bar-warning {background-color: #1BC5BD !important;}
.card_ {border: 1px solid #F3F6F9!important;background: #FFF!important;box-shadow: unset!important;border-radius: unset !important;}
.circle--mojito {background:#0BB783!important;}
.circle--sunrise {background:#1BC5BD!important;}
.circle--timber {background:#FFA800!important;}
.mcus-3 {color: #EE2D41!important;}
.card-dashboard {box-shadow: unset!important;border: 1px solid #F3F6F9!important;}
.okr.show_detail_node th {background-color:#F3F6F9!important;color:#0BB783!important;}
#tab-okr-detail .nav-tabs>li.active>a, #tab-okr-detail .nav-tabs>li>a:hover {color:#1BC5BD!important;}
#tab-okr-detail .nav-tabs>li>a::after {background: #1BC5BD!important;bottom: 0!important;}
#tableData {font-family: unset!important;}
.popover-content table tr th {background: #F3F6F9!important;font-weight: 500 !important;color: #0BB783!important;font-size: unset!important;padding: 10px;}
.popover-content tr:hover {background-color: #F3F6F9!important;}
.popover-content td, .popover-content th {border: 1px solid #F3F6F9 !important;}
.popover-content tr:nth-child(even) {background-color:#FFF!important;}
/* END OKRs */